.category-card {
  text-align: center;
}

.category-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.category-card.active {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.category-card p {
  margin-top: 8px;
}
